* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
  background: rgb(217,36,43);
  background: linear-gradient(140deg, rgba(217,36,43,1) 20%, rgba(248,249,213,1) 33%, rgba(31,101,160,1) 82%);
}

.hero {
  text-align: center;
  background-color: red;
  border-radius: 0 0 15px 15px;
}

.jumbotron {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 260px;
  padding-left: 10%;
  padding-right: 10%;
  height: 1000px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hero-box {
  padding-left: 5%;
  padding-right: 5%;
}

/* FOOTER STYLES START */
#map {
  height: 400px;
  width: 50%;
  background-color: grey;
  margin-bottom: 25px;
  align-content: right;
}
  /* END FOOTER STYLES */