* {
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* FOOTER STYLES START */
#map {
  height: 400px;
  width: 50%;
  background-color: grey;
  margin-bottom: 25px;
  align-content: right;
}
  /* END FOOTER STYLES */