* {
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* FOOTER STYLES START */
.div.is-size-5 .has-text-centered .container .column .is-3 .my-5 {
  border: 3px solid black;
}
  /* END FOOTER STYLES */